body{
    background-image: url(pic1.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;
    background-color: #464646;
}
